@charset "UTF-8";
* {
  margin: none;
  padding: none;
}

body {
  background: #f3f5f9;
}
body header {
  display: flex;
  justify-content: center;
  background: white;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
body header img {
  width: 80px;
}
body h1 {
  color: #0f056b;
}
body h2 {
  color: #0f056b;
  margin: -1px;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
body h3 {
  font-size: 20px;
  color: #0f056b;
  text-align: center;
  padding: 30px;
}
body h4 {
  color: #0f056b;
  text-align: center;
  padding-top: 20px;
}
body p {
  color: #0f056b;
  text-align: center;
  font-size: 15px;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  text-align: center;
}
body .salut {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .devweb {
  font-size: 15px;
  font-weight: 100;
  padding-top: 5px;
}
body .imgmilieu {
  display: flex;
  justify-content: center;
}
body .imgmilieu img {
  width: 420px;
  position: relative;
  right: 10px;
  margin-top: 40px;
}
body section {
  margin-top: 100px;
}
body .forma-web {
  background-image: url(images/img-dev-web.png);
  margin-top: 50px;
  border-radius: 30px;
  padding: 60px;
}
body .forma-fac {
  background-image: url(images/img-bibli-fac.png);
  margin-top: 50px;
  border-radius: 30px;
  padding: 60px;
}
body .forma-bac {
  background-image: url(images/img-school.png);
  margin-top: 50px;
  border-radius: 30px;
  padding: 60px;
}
body .html {
  background-color: white;
  margin-top: 50px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .html img {
  width: 80px;
}
body .css {
  background-color: white;
  margin-top: 50px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .css img {
  width: 55px;
}
body .js {
  background-color: white;
  margin-top: 50px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .js img {
  width: 60px;
}
body .figma {
  background-color: white;
  margin-top: 50px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .figma img {
  width: 50px;
}
body .contact {
  color: #0f056b;
  font-weight: 500;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body form {
  /* On centre le formulaire */
  width: 400px;
  /* Le contour du formulaire */
  padding: 0.5em;
  border: 2px solid #0f056b;
  border-radius: 2em;
}
body form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body form form li + li {
  margin-top: 1em;
}
body form label {
  /* Taille et alignement uniformes */
  display: inline-block;
  width: 75px;
  text-align: right;
}
body form input,
body form textarea {
  /* Taille uniforme pour des champs */
  width: 300px;
  box-sizing: border-box;
  /* On utilise la même bordure que pour le formulaire */
  border: 2px solid #0f056b;
}
body form input:focus,
body form textarea:focus {
  /* On rajoute une mise en avant pour les éléments avec
         le focus. */
  border-color: #000;
}
body form textarea {
  /* On aligne les textes sur plusieurs lignes avec leur
         libellé. */
  vertical-align: top;
  /* On fournit un peut d'espace pour saisir du texte. */
  height: 5em;
  /* On permet de redimensionner verticalement. */
  resize: vertical;
}
body form .button {
  padding-left: 90px;
  margin-left: 90px;
}

/*# sourceMappingURL=portfolio-responsive.css.map */
